In [1]:
import pandas as pd

# Data Inspection

In [2]:
df = pd.read_csv("crimes.csv",low_memory=False)

In [3]:
df.shape

(1048575, 23)

In [4]:
print(df.columns)

Index(['Source.Name', 'unique_key', 'case_number', 'date', 'block', 'iucr',
       'primary_type', 'description', 'location_description', 'arrest',
       'domestic', 'beat', 'district', 'ward', 'community_area', 'fbi_code',
       'x_coordinate', 'y_coordinate', 'year', 'updated_on', 'latitude',
       'longitude', 'location'],
      dtype='object')

In [5]:
df.head(10)

,Source.Name,unique_key,case_number,date,block,iucr,primary_type,description,location_description,arrest,...,ward,community_area,fbi_code,x_coordinate,y_coordinate,year,updated_on,latitude,longitude,location
0,crimes 2020.csv,12019581,JD197307,29-03-2020 9.15,0000X E WACKER DR,334,ROBBERY,ATTEMPT ARMED - KNIFE / CUTTING INSTRUMENT,CONVENIENCE STORE,False,...,42.0,32.0,3,1176621.0,1902155.0,2020,05-04-2020 21.11,41.886864,-87.626852,"(41.886863814, -87.626851797)"
1,crimes 2020.csv,11940387,JD102775,01-01-2020 6.00,002XX N STATE ST,870,THEFT,POCKET-PICKING,SIDEWALK,False,...,42.0,32.0,6,1176327.0,1901797.0,2020,08-01-2020 21.16,41.885888,-87.627942,"(41.885888079, -87.627942238)"
2,crimes 2020.csv,11980069,JD144543,08-02-2020 16.30,0000X W RANDOLPH ST,870,THEFT,POCKET-PICKING,RESTAURANT,False,...,42.0,32.0,6,1175768.0,1901280.0,2020,19-02-2020 21.09,41.884482,-87.630011,"(41.884481993, -87.630010542)"
3,crimes 2020.csv,12067759,JD251260,30-05-2020 20.50,0000X W MADISON ST,553,ASSAULT,AGGRAVATED POLICE OFFICER - OTHER DANGEROUS WE...,STREET,False,...,42.0,32.0,04A,1176107.0,1900380.0,2020,07-06-2020 21.10,41.882005,-87.628793,"(41.882004711, -87.628792836)"
4,crimes 2020.csv,11962314,JD128865,26-01-2020 4.10,001XX S STATE ST,554,ASSAULT,AGG PO HANDS NO/MIN INJURY,STREET,True,...,42.0,32.0,08A,1176405.0,1899622.0,2020,01-02-2020 21.12,41.879918,-87.627721,"(41.879917998, -87.62772148)"
5,crimes 2020.csv,11981005,JD150785,13-02-2020 22.15,0000X N DEARBORN ST,870,THEFT,POCKET-PICKING,CTA TRAIN,False,...,42.0,32.0,6,1175937.0,1900516.0,2020,20-02-2020 21.12,41.882382,-87.629413,"(41.882381731, -87.629412971)"
6,crimes 2020.csv,12078384,JD257085,31-05-2020 3.30,001XX S DEARBORN ST,1020,ARSON,BY FIRE,VEHICLE NON-COMMERCIAL,False,...,42.0,32.0,9,1175959.0,1899607.0,2020,24-06-2020 21.10,41.879887,-87.629360,"(41.879886887, -87.629359567)"
7,crimes 2020.csv,12132398,JD328602,11-08-2020 20.35,0000X S WABASH AVE,1210,DECEPTIVE PRACTICE,THEFT OF LABOR / SERVICES,RESTAURANT,False,...,42.0,32.0,11,1176815.0,1900227.0,2020,18-08-2020 21.12,41.881569,-87.626198,"(41.881568892, -87.626197726)"
8,crimes 2020.csv,25021,JD204167,07-04-2020 22.39,002XX S STATE ST,110,HOMICIDE,FIRST DEGREE MURDER,"CTA ""L"" PLATFORM",True,...,42.0,32.0,01A,1176417.0,1899156.0,2020,19-09-2022 21.11,41.878639,-87.627691,"(41.878638996, -87.627691486)"
9,crimes 2020.csv,12165621,JD367267,14-09-2020 22.40,002XX S WABASH AVE,340,ROBBERY,ATTEMPT STRONG ARM - NO WEAPON,CTA PLATFORM,False,...,42.0,32.0,3,1176845.0,1899365.0,2020,21-09-2020 21.14,41.879203,-87.626114,"(41.879202837, -87.626113652)"

# Data Cleaning

In [6]:
df.drop(columns=['Source.Name','unique_key','block','iucr','beat','fbi_code','x_coordinate','y_coordinate','location','updated_on'], inplace=True)

In [7]:
df.head(2)

,case_number,date,primary_type,description,location_description,arrest,domestic,district,ward,community_area,year,latitude,longitude
0,JD197307,29-03-2020 9.15,ROBBERY,ATTEMPT ARMED - KNIFE / CUTTING INSTRUMENT,CONVENIENCE STORE,False,False,1,42.0,32.0,2020,41.886864,-87.626852
1,JD102775,01-01-2020 6.00,THEFT,POCKET-PICKING,SIDEWALK,False,False,1,42.0,32.0,2020,41.885888,-87.627942

In [8]:
df.dtypes # checking data types

case_number              object
date                     object
primary_type             object
description              object
location_description     object
arrest                     bool
domestic                   bool
district                  int64
ward                    float64
community_area          float64
year                      int64
latitude                float64
longitude               float64
dtype: object

In [9]:
df['date'] = pd.to_datetime(df['date'], format='%d-%m-%Y %H.%M') # Convert 'date' to datetime

df['date_only'] = df['date'].dt.date  # Extract date 
df['time_only'] = df['date'].dt.time  # Extract time

In [10]:
# Convert columns to the required data types 
df['case_number'] = df['case_number'].astype('str')
df['primary_type'] = df['primary_type'].astype('str')
df['description'] = df['description'].astype('str') 
df['location_description'] = df['location_description'].astype('str') 
df['arrest'] = df['arrest'].astype('bool') 
df['domestic'] = df['domestic'].astype('bool') 
df['district'] = df['district'].astype('int') 
df['ward'] = df['ward'].fillna(0).astype('int')
df['community_area'] = df['community_area'].fillna(0).astype('int') 
df['year'] = df['year'].astype('int') 
df['latitude'] = df['latitude'].astype('float') 
df['longitude'] = df['longitude'].astype('float') 

df.drop(columns=['date'],inplace = True)
print(df.dtypes)

case_number              object
primary_type             object
description              object
location_description     object
arrest                     bool
domestic                   bool
district                  int32
ward                      int32
community_area            int32
year                      int32
latitude                float64
longitude               float64
date_only                object
time_only                object
dtype: object

In [11]:
df.tail(5) # last 5 rows

,case_number,primary_type,description,location_description,arrest,domestic,district,ward,community_area,year,latitude,longitude,date_only,time_only
1048570,JH230305,THEFT,OVER $500,RESIDENCE - GARAGE,False,False,16,45,15,2024,41.966821,-87.771206,2024-04-18,00:30:00
1048571,JH263994,THEFT,OVER $500,STREET,False,False,16,45,11,2024,41.970283,-87.781012,2024-05-15,02:15:00
1048572,JH387793,THEFT,OVER $500,STREET,False,False,16,45,11,2024,41.969780,-87.769121,2024-08-14,04:50:00
1048573,JH330020,THEFT,OVER $500,STREET,False,False,16,45,11,2024,41.982027,-87.776843,2024-06-28,07:30:00
1048574,JH143293,THEFT,OVER $500,OTHER (SPECIFY),False,False,16,45,11,2024,41.968470,-87.765051,2024-02-03,15:30:00

In [12]:
# NaN values
nan_count = df.isna().sum()
print(nan_count)

case_number                 0
primary_type                0
description                 0
location_description        0
arrest                      0
domestic                    0
district                    0
ward                        0
community_area              0
year                        0
latitude                17443
longitude               17443
date_only                   0
time_only                   0
dtype: int64

In [13]:
rows_before = df.shape[0]
print(f"Number of rows before removing NaN values: {rows_before}")

# Removing rows with NaN values
df_cleaned = df.dropna(axis=0, how='any')

rows_after = df_cleaned.shape[0]
print(f"Number of rows after removing NaN values: {rows_after}")

Number of rows before removing NaN values: 1048575
Number of rows after removing NaN values: 1031132

In [14]:
nan_count = df_cleaned.isna().sum()
print(nan_count)
# no NaN values

case_number             0
primary_type            0
description             0
location_description    0
arrest                  0
domestic                0
district                0
ward                    0
community_area          0
year                    0
latitude                0
longitude               0
date_only               0
time_only               0
dtype: int64

In [15]:
# Check for zeros
zeros_count = (df == 0).sum()
print(f"Zeros in each column:\n{zeros_count}")

Zeros in each column:
case_number                  0
primary_type                 0
description                  0
location_description         0
arrest                  907252
domestic                827372
district                     0
ward                        33
community_area               4
year                         0
latitude                     0
longitude                    0
date_only                    0
time_only                    0
dtype: int64

In [16]:
# Check for empty strings
empty_count = (df == '').sum()
print(f"\nEmpty strings in each column:\n{empty_count}")

Empty strings in each column:
case_number             0
primary_type            0
description             0
location_description    0
arrest                  0
domestic                0
district                0
ward                    0
community_area          0
year                    0
latitude                0
longitude               0
date_only               0
time_only               0
dtype: int64

In [17]:
# Remove rows where value in column 'ward' is 0
df_cleaned = df_cleaned[df_cleaned['ward'] != 0]

rows_after = df_cleaned.shape[0]
print(f"Number of rows after removing zeros in ward values: {rows_after}")

Number of rows after removing zeros in ward values: 1031100

In [18]:
# Removeing duplicates
df_cleaned = df_cleaned.drop_duplicates(subset='case_number')

In [19]:
rows_after = df_cleaned.shape[0]
print(f"Number of rows after removing duplicate values wrt case_number values: {rows_after}")

Number of rows after removing duplicate values wrt case_number values: 1030938

In [20]:
# value counts
value_counts = df_cleaned['primary_type'].value_counts()
print(value_counts)

primary_type
BATTERY                              212506
THEFT                                198338
CRIMINAL DAMAGE                      107662
ASSAULT                              105103
DECEPTIVE PRACTICE                    71855
MOTOR VEHICLE THEFT                   71472
OTHER OFFENSE                         60249
ROBBERY                               44844
BURGLARY                              38639
WEAPONS VIOLATION                     35517
NARCOTICS                             25177
CRIMINAL TRESPASS                     18384
OFFENSE INVOLVING CHILDREN             8701
CRIMINAL SEXUAL ASSAULT                7114
SEX OFFENSE                            5559
PUBLIC PEACE VIOLATION                 4395
HOMICIDE                               3386
INTERFERENCE WITH PUBLIC OFFICER       2629
ARSON                                  2524
STALKING                               2004
PROSTITUTION                           1170
LIQUOR LAW VIOLATION                    902
CONCEALED CARRY LICENSE VIOLATION       894
INTIMIDATION                            845
KIDNAPPING                              558
OBSCENITY                               232
GAMBLING                                 84
CRIM SEXUAL ASSAULT                      75
HUMAN TRAFFICKING                        47
PUBLIC INDECENCY                         34
OTHER NARCOTIC VIOLATION                 22
NON-CRIMINAL                             16
RITUALISM                                 1
Name: count, dtype: int64

In [21]:
# Spelling Error correction
df_cleaned['primary_type'] = df_cleaned['primary_type'].replace("CRIM SEXUAL ASSAULT", "CRIMINAL SEXUAL ASSAULT")

In [22]:
value_counts = df_cleaned['primary_type'].value_counts()
print(value_counts)

primary_type
BATTERY                              212506
THEFT                                198338
CRIMINAL DAMAGE                      107662
ASSAULT                              105103
DECEPTIVE PRACTICE                    71855
MOTOR VEHICLE THEFT                   71472
OTHER OFFENSE                         60249
ROBBERY                               44844
BURGLARY                              38639
WEAPONS VIOLATION                     35517
NARCOTICS                             25177
CRIMINAL TRESPASS                     18384
OFFENSE INVOLVING CHILDREN             8701
CRIMINAL SEXUAL ASSAULT                7189
SEX OFFENSE                            5559
PUBLIC PEACE VIOLATION                 4395
HOMICIDE                               3386
INTERFERENCE WITH PUBLIC OFFICER       2629
ARSON                                  2524
STALKING                               2004
PROSTITUTION                           1170
LIQUOR LAW VIOLATION                    902
CONCEALED CARRY LICENSE VIOLATION       894
INTIMIDATION                            845
KIDNAPPING                              558
OBSCENITY                               232
GAMBLING                                 84
HUMAN TRAFFICKING                        47
PUBLIC INDECENCY                         34
OTHER NARCOTIC VIOLATION                 22
NON-CRIMINAL                             16
RITUALISM                                 1
Name: count, dtype: int64

In [23]:
value_counts = df_cleaned['arrest'].value_counts()
print(value_counts)

arrest
False    892639
True     138299
Name: count, dtype: int64

In [24]:
value_counts = df_cleaned['domestic'].value_counts()
print(value_counts)

domestic
False    811570
True     219368
Name: count, dtype: int64

In [25]:
df_cleaned.head(10)

,case_number,primary_type,description,location_description,arrest,domestic,district,ward,community_area,year,latitude,longitude,date_only,time_only
0,JD197307,ROBBERY,ATTEMPT ARMED - KNIFE / CUTTING INSTRUMENT,CONVENIENCE STORE,False,False,1,42,32,2020,41.886864,-87.626852,2020-03-29,09:15:00
1,JD102775,THEFT,POCKET-PICKING,SIDEWALK,False,False,1,42,32,2020,41.885888,-87.627942,2020-01-01,06:00:00
2,JD144543,THEFT,POCKET-PICKING,RESTAURANT,False,False,1,42,32,2020,41.884482,-87.630011,2020-02-08,16:30:00
3,JD251260,ASSAULT,AGGRAVATED POLICE OFFICER - OTHER DANGEROUS WE...,STREET,False,False,1,42,32,2020,41.882005,-87.628793,2020-05-30,20:50:00
4,JD128865,ASSAULT,AGG PO HANDS NO/MIN INJURY,STREET,True,False,1,42,32,2020,41.879918,-87.627721,2020-01-26,04:10:00
5,JD150785,THEFT,POCKET-PICKING,CTA TRAIN,False,False,1,42,32,2020,41.882382,-87.629413,2020-02-13,22:15:00
6,JD257085,ARSON,BY FIRE,VEHICLE NON-COMMERCIAL,False,False,1,42,32,2020,41.879887,-87.629360,2020-05-31,03:30:00
7,JD328602,DECEPTIVE PRACTICE,THEFT OF LABOR / SERVICES,RESTAURANT,False,False,1,42,32,2020,41.881569,-87.626198,2020-08-11,20:35:00
8,JD204167,HOMICIDE,FIRST DEGREE MURDER,"CTA ""L"" PLATFORM",True,False,1,42,32,2020,41.878639,-87.627691,2020-04-07,22:39:00
9,JD367267,ROBBERY,ATTEMPT STRONG ARM - NO WEAPON,CTA PLATFORM,False,False,1,42,32,2020,41.879203,-87.626114,2020-09-14,22:40:00

In [26]:
# Convert 'Date' column to datetime format
df_cleaned['date_only'] = pd.to_datetime(df['date_only'], errors='coerce') # Coerce any invalid date formats

print(df_cleaned['date_only'].dtype)

datetime64[ns]

In [27]:
# Getting month from date_only column
df_cleaned['Month'] = df_cleaned['date_only'].dt.month

print(df_cleaned)

        case_number primary_type  \
0          JD197307      ROBBERY
1          JD102775        THEFT
2          JD144543        THEFT
3          JD251260      ASSAULT
4          JD128865      ASSAULT
...             ...          ...
1048570    JH230305        THEFT
1048571    JH263994        THEFT
1048572    JH387793        THEFT
1048573    JH330020        THEFT
1048574    JH143293        THEFT

                                               description  \
0               ATTEMPT ARMED - KNIFE / CUTTING INSTRUMENT
1                                           POCKET-PICKING
2                                           POCKET-PICKING
3        AGGRAVATED POLICE OFFICER - OTHER DANGEROUS WE...
4                               AGG PO HANDS NO/MIN INJURY
...                                                    ...
1048570                                          OVER $500
1048571                                          OVER $500
1048572                                          OVER $500
1048573                                          OVER $500
1048574                                          OVER $500

        location_description  arrest  domestic  district  ward  \
0          CONVENIENCE STORE   False     False         1    42
1                   SIDEWALK   False     False         1    42
2                 RESTAURANT   False     False         1    42
3                     STREET   False     False         1    42
4                     STREET    True     False         1    42
...                      ...     ...       ...       ...   ...
1048570   RESIDENCE - GARAGE   False     False        16    45
1048571               STREET   False     False        16    45
1048572               STREET   False     False        16    45
1048573               STREET   False     False        16    45
1048574      OTHER (SPECIFY)   False     False        16    45

         community_area  year   latitude  longitude  date_only time_only  \
0                    32  2020  41.886864 -87.626852 2020-03-29  09:15:00
1                    32  2020  41.885888 -87.627942 2020-01-01  06:00:00
2                    32  2020  41.884482 -87.630011 2020-02-08  16:30:00
3                    32  2020  41.882005 -87.628793 2020-05-30  20:50:00
4                    32  2020  41.879918 -87.627721 2020-01-26  04:10:00
...                 ...   ...        ...        ...        ...       ...
1048570              15  2024  41.966821 -87.771206 2024-04-18  00:30:00
1048571              11  2024  41.970283 -87.781012 2024-05-15  02:15:00
1048572              11  2024  41.969780 -87.769121 2024-08-14  04:50:00
1048573              11  2024  41.982027 -87.776843 2024-06-28  07:30:00
1048574              11  2024  41.968470 -87.765051 2024-02-03  15:30:00

         Month
0            3
1            1
2            2
3            5
4            1
...        ...
1048570      4
1048571      5
1048572      8
1048573      6
1048574      2

[1030938 rows x 15 columns]

In [28]:
# Renaming columns
df_cleaned = df_cleaned.rename(columns={'time_only': 'time'})
df_cleaned = df_cleaned.rename(columns={'Month': 'month'})

In [29]:
df_cleaned.head(2)

,case_number,primary_type,description,location_description,arrest,domestic,district,ward,community_area,year,latitude,longitude,date_only,time,month
0,JD197307,ROBBERY,ATTEMPT ARMED - KNIFE / CUTTING INSTRUMENT,CONVENIENCE STORE,False,False,1,42,32,2020,41.886864,-87.626852,2020-03-29,09:15:00,3
1,JD102775,THEFT,POCKET-PICKING,SIDEWALK,False,False,1,42,32,2020,41.885888,-87.627942,2020-01-01,06:00:00,1

In [30]:
df_cleaned.drop(columns=['date_only'],inplace=True)

In [31]:
# Create a dictionary to map month numbers to month names
month_mapping = {
    1: 'January', 2: 'February', 3: 'March', 4: 'April',
    5: 'May', 6: 'June', 7: 'July', 8: 'August',
    9: 'September', 10: 'October', 11: 'November', 12: 'December'
}

# Replace month numbers with month names
df_cleaned['month'] = df_cleaned['month'].replace(month_mapping)

print(df_cleaned['month'].tail(10))

1048565    February
1048566       March
1048567    February
1048568     January
1048569        June
1048570       April
1048571         May
1048572      August
1048573        June
1048574    February
Name: month, dtype: object

In [32]:
# Top 20 description
top_20 = df_cleaned['description'].value_counts().head(20)

print(top_20)

description
SIMPLE                                     135728
DOMESTIC BATTERY SIMPLE                     98846
$500 AND UNDER                              69962
OVER $500                                   68337
TO VEHICLE                                  56222
AUTOMOBILE                                  55358
TO PROPERTY                                 49136
AGGRAVATED - HANDGUN                        32712
RETAIL THEFT                                30516
FORCIBLE ENTRY                              21886
UNLAWFUL POSSESSION - HANDGUN               20640
FROM BUILDING                               19025
ARMED - HANDGUN                             17515
TELEPHONE THREAT                            13743
AGGRAVATED - OTHER DANGEROUS WEAPON         13721
FINANCIAL IDENTITY THEFT $300 AND UNDER     13715
FINANCIAL IDENTITY THEFT OVER $ 300         13294
UNLAWFUL ENTRY                              12845
AGGRAVATED - KNIFE / CUTTING INSTRUMENT     11113
STRONG ARM - NO WEAPON                       9881
Name: count, dtype: int64

In [33]:
# Top 20 location description
top_20 = df_cleaned['location_description'].value_counts().head(20)

print(top_20)

location_description
STREET                                    272387
APARTMENT                                 201127
RESIDENCE                                 146586
SIDEWALK                                   60214
PARKING LOT / GARAGE (NON RESIDENTIAL)     33123
SMALL RETAIL STORE                         27476
ALLEY                                      23733
RESTAURANT                                 20472
OTHER (SPECIFY)                            16514
GAS STATION                                14156
VEHICLE NON-COMMERCIAL                     13795
COMMERCIAL / BUSINESS OFFICE               13368
RESIDENCE - PORCH / HALLWAY                13111
DEPARTMENT STORE                           12873
RESIDENCE - YARD (FRONT / BACK)            11751
RESIDENCE - GARAGE                         11259
GROCERY FOOD STORE                         10280
PARK PROPERTY                               7064
CONVENIENCE STORE                           6960
BAR OR TAVERN                               6365
Name: count, dtype: int64

In [34]:
df_cleaned.head(10)

,case_number,primary_type,description,location_description,arrest,domestic,district,ward,community_area,year,latitude,longitude,time,month
0,JD197307,ROBBERY,ATTEMPT ARMED - KNIFE / CUTTING INSTRUMENT,CONVENIENCE STORE,False,False,1,42,32,2020,41.886864,-87.626852,09:15:00,March
1,JD102775,THEFT,POCKET-PICKING,SIDEWALK,False,False,1,42,32,2020,41.885888,-87.627942,06:00:00,January
2,JD144543,THEFT,POCKET-PICKING,RESTAURANT,False,False,1,42,32,2020,41.884482,-87.630011,16:30:00,February
3,JD251260,ASSAULT,AGGRAVATED POLICE OFFICER - OTHER DANGEROUS WE...,STREET,False,False,1,42,32,2020,41.882005,-87.628793,20:50:00,May
4,JD128865,ASSAULT,AGG PO HANDS NO/MIN INJURY,STREET,True,False,1,42,32,2020,41.879918,-87.627721,04:10:00,January
5,JD150785,THEFT,POCKET-PICKING,CTA TRAIN,False,False,1,42,32,2020,41.882382,-87.629413,22:15:00,February
6,JD257085,ARSON,BY FIRE,VEHICLE NON-COMMERCIAL,False,False,1,42,32,2020,41.879887,-87.629360,03:30:00,May
7,JD328602,DECEPTIVE PRACTICE,THEFT OF LABOR / SERVICES,RESTAURANT,False,False,1,42,32,2020,41.881569,-87.626198,20:35:00,August
8,JD204167,HOMICIDE,FIRST DEGREE MURDER,"CTA ""L"" PLATFORM",True,False,1,42,32,2020,41.878639,-87.627691,22:39:00,April
9,JD367267,ROBBERY,ATTEMPT STRONG ARM - NO WEAPON,CTA PLATFORM,False,False,1,42,32,2020,41.879203,-87.626114,22:40:00,September

In [35]:
# Saving cleaned data to a csv file
df_cleaned.to_csv("cleaned_chicago_crime_data.csv", index=False)

In [36]:
#import os
print(os.getcwd()) # getting it into device